<h1>Actualizar producto</h1>
<hr>
<p>Edita la información que necesites de este formulario</p>
<form #form="ngForm" (ngSubmit)="updateProduct(product._id)" ngNativeValidate>
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" name="name" #name="ngModel" [ngModel]="product.name" required>
  </div>
  <div class="form-group">
    <label>Descripción</label>
    <input type="text" class="form-control" name="description" #description="ngModel" [(ngModel)]="product.description"
      required>
  </div>
  <div class="form-group">
    <label>Precio</label>
    <input type="number" class="form-control" #price="ngModel" name="price" [(ngModel)]="product.price" required
      pattern="[0-9]\d{5,10}" placeholder="10000">
  </div>
  <div class="form-group">
    <label>Tipo de producto</label>
    <input type="text" class="form-control" name="type" #type="ngModel" [(ngModel)]="product.type" required>
  </div>
  <button type="submit" class="btn btn-primary">Actualizar</button>
</form>